<div class="card">
    <div class="card-header text-center display-3">
        {{title}}
    </div>
    <div class="card-body">
        <div class="table-resposive table-hover table-striped">
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th>
                            <button class="btn btn-primary font-weight-bold" (click)='toggleImage()'>
                                {{showImage? 'Hide': 'Show'}} Image
                            </button>
                        </th>
                        <th class="align-middle">Product Name</th>
                        <th class="align-middle"> Product Code</th>
                        <th class="align-middle">Available From</th>
                        <th class="align-middle">Price</th>
                        <th class="align-middle">5 Star Rating</th>
                        <th class="mx-auto align-middle" colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let product of products; let i = index'>
                        <td>
                            <img *ngIf='showImage'
                            [src] = 'product.imageUrl'
                            [title] = 'product.productName'
                            [style.width.px] = 'imageWidth'
                            [style.margin.px] = 'imageMargin'>
                        </td>
                        <td class="align-middle">{{product.productName}}</td>
                        <td class="align-middle">{{product.productCode}}</td>
                        <td class="align-middle">{{product.releaseDate}}</td>
                        <td class=" text-center align-middle">{{product.price}}</td>
                        <td class="text-center align-middle">{{product.starRating}}</td>
                        <td><button class="btn btn-success"><a [routerLink]="['/edit', product._id]" style="text-decoration: none;font-weight: bold; color: white;">Edit</a></button></td>
                        <td><button class="btn btn-outline-danger font-weight-bold"><a (click)="deleteProduct(product._id,i)">Delete</a></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>